[user]
	name = taiseee
	email = taisei7548@gmail.com

[includeIf "gitdir:~/Projects/HorizonTechnology/"]
    path = ~/.gitconfig-horizon-cg

[credential "https://git-codecommit.*.amazonaws.com"]
    helper = !aws codecommit credential-helper $@
    UseHttpPath = true
